body{
  margin: 0;
}
.top{
  background-color: hsl(255, 6%,25%);
}

.pane{
  display: flex;
  height: 50vh;
}
.editor-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  padding:0.5rem;
}

.editor-title{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.codemirror{
  height: 100% !important;
}
.react-codemirror{
  height: 100% !important;
}
.editor-container.collapsed{
  flex-grow: 0;
}
.btn{
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
.code-mirror-wrapper{
  flex-grow: 1 !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius:0.5rem;
  overflow: hidden;
  height: 100% !important;
}